{% extends 'compny/dashboard/base.html' %}
{% load static %}
{% block NewContent %}
<title>Feedback</title>

<div class='row'>
<div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Customer Feedbacks</h4>
    
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Sr No.</th>
                          <th>Customer Name</th>
                          <th>Email</th>
                          <th>Subject</th>
                          <th>Date</th>
                          <th>Message</th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for i in fb reversed %}
                      
                        <tr>
                           <td>{{ forloop.counter }}</td>
                           <td>{{ i.name }}</td>
                           <td>{{ i.mail }}</td>
                           <td>{{ i.subject }}</td> 
                           <td>{{ i.date }}</td>                           
                           <td>{{ i.message }}</td>
                           
                          </tr>

                        {% endfor %}
                        
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
</div>


{% endblock NewContent %}